extends layout

block content

    h1 Club: #{item.name}
        h3 #{item.usd}
        h3 Type: #{item.category.name}
        h3 Available: #{item.number_in_stock}
        h3 #{item.description}
    
    hr
    p
     a(href=item.url+'/delete') Delete Club
    p
     a(href=item.url+'/update') Update Club